.text-white {
    color: #ffffff;
}

.text-black {
    color: #000000;
}

.text-gray {
    color: rgb(51, 51, 51);
}

.text-cyan {
    color: rgb(38, 144, 212);
}

.bg-white {
    background-color: #ffffff;
}

.bg-black {
    background-color: #000000;
}

.bg-gray {
    background-color: rgb(51, 51, 51);
}

.bg-cyan {
    background-color: rgb(38, 144, 212);
}

.text-dark-red {
    color: #5e1e2e;
}

.text-light-red {
    color: #bf3252;
}