body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(51, 51, 51);
    background-color: rgb(234, 234, 234);
    margin: 0;
}

a {
    text-decoration: none;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.bg-image {
    background-image: url("../img/intro.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.bg-shadow {
    background-color:rgba(0, 0, 0, .5);
}

.btn {
    width: 120px;
    height: 30px;
    background-color: #d42d48;
    border: inset;
    border-color: #d42d48;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    padding: 5px;
}

.btn:hover {
    background-color:rgb(38, 144, 212);
    border-color: rgb(38, 144, 212);
}

/* .scale:hover {
    transform: scale(1.2);
    border: solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(60deg, #b16ec4, #5f97b9);
} */

.img {
    width: 200px;
    height: 120px;
}

.w-550 {
    width: 550px;
}

.lh-30 {
    line-height: 30px;
}

.wrap {
    flex-wrap: wrap;
}

.w-300 {
    width: 300px;
}